@import "indigo";
@import url('https://rsms.me/inter/inter-ui.css');

@font-face {
  font-family: 'Untitled';
  src: url('https://storage.googleapis.com/media.urbit.org/fonts/untitled-serif-web-regular.eot');
  src: url('https://storage.googleapis.com/media.urbit.org/fonts/untitled-serif-web-regular.eot?#iefix') format('embedded-opentype'),
       url('https://storage.googleapis.com/media.urbit.org/fonts/untitled-serif-web-regular.woff2') format('woff2'),
       url('https://storage.googleapis.com/media.urbit.org/fonts/untitled-serif-web-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100%;
  font-family: "Untitled", "Untitled", serif;
  @extend .lh-copy, .f7;
  -webkit-font-smoothing: antialiased;
}

main {
  min-height: 100%;
}

a {
  color: black;
}

.bg-dusk {
  background-color: #46292B;
}

.bg-blue {
  background-color: #219DFF;
}

address,
.mono {
  font-family: "Source Code Pro", monospace;
  font-style: normal;
}