@import "indigo";
@import url('https://rsms.me/inter/inter-ui.css');

@font-face {
  font-family: "Source Code Pro";
  src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-extralight.woff");
  font-weight: 200;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-bold.woff");
  font-weight: 600;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("https://storage.googleapis.com/media.urbit.org/fonts/scp-black.woff");
  font-weight: 700;
}

html, body {
  height: 100%;
  font-family: "Inter", "Inter UI", sans-serif;
  @extend .lh-copy, .f7;
  -webkit-font-smoothing: antialiased;
}

main {
  min-height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

address,
.mono {
  font-family: "Source Code Pro", monospace;
  font-style: normal;
}

footer {
  margin-top: -2rem;
}

// new indigo colours
.new-green1 {
  color: #009F65;
}

.bg-custom-green1 {
  background-color: #33b284;
}

.b--custom-gray4 {
  border-color: #ccc;
}

input[type=email] + span::before {
  position: absolute;
  right: 8px;
  top: -2px;
}

input[type=email]:valid + span::before {
  content: '✓';
  font-family: 'Inter', 'Inter UI', sans-serif;
  @extend .new-green1;
}