<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- START META -->
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@tloncorporation">
    <meta name="twitter:creator" content="@tloncorporation">
    {% block title %}{% endblock title %}
    {% block description %}{% endblock description %}
    <!-- END META -->

    <!-- START FAVICON -->
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <!-- END FAVICON -->

    <!-- START CSS -->
    <link href="/styles.css" rel="stylesheet" />
    <!-- END CSS -->

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function () {
        var u = "https://analytics.urbit.org/";
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '3']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
      })();
    </script>
    <noscript>
      <p><img src="https://analytics.urbit.org/matomo.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p>
    </noscript>
    <!-- End Matomo Code -->
  </head>
  <body {% block bodyclasses %} {% endblock bodyclasses %}>
    {% block content %}
    {% endblock content %}
  </body>
</html>
