<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    {% block title %}{% endblock title %}
    {% block description %}{% endblock description %}

    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="https://tlon.io">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Tlon builds infrastructure that is technically excellent, architecturally sound, and aesthetically beautiful.">
    <meta property="og:image" content="https://storage.googleapis.com/media.urbit.org/tlon/og.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@tloncorporation">
    <meta property="twitter:domain" content="tlon.io">
    <meta property="twitter:url" content="https://tlon.io">
    <meta name="twitter:description" content="Tlon builds infrastructure that is technically excellent, architecturally sound, and aesthetically beautiful.">
    <meta name="twitter:image" content="https://storage.googleapis.com/media.urbit.org/tlon/twitter.png">

    <link rel="stylesheet" href="/style.css">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J7P036B93P"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J7P036B93P');
    </script>

  </head>
  <body>
    {% block content %}
    {% endblock content %}
    {% include "partials/footer.html" %}
  </body>
</html>
