{% extends "base.html" %}
{% block title %}
<title>Tlon Corporation - Careers</title>
<meta name="og:title" content="Tlon Corporation - Careers">
<meta name="twitter:title" content="Tlon Corporation - Careers">
{% endblock title %}
{% block content %}
{% include "partials/nav.html" %}
<header class="p-8 lg:p-16">
  <h1 class="text-3xl font-medium">Tlon is home to worldbuilders</h1>
  <section class="max-w-2xl serif text-xl pt-32">
    <p class="pb-4">Tlon Corporation is a design and engineering company building simple and beautiful digital environments for Urbit — a reimagination of the networked personal computer built entirely from scratch using new programming languages, p2p networking architectures, and cryptographic identity.</p>
    <p class="pb-4">As Tlon, our goal is to comprehensively develop a useful, simple, and easy-to-use ecosystem of software with Urbit as our bedrock.</p>
  </section>
  <section class='py-16 text-sm pt-32'>
    <h1 class="text-3xl font-medium">Openings</h1>
  <section class="pt-24">
    {% for page in section.pages %}
    <a href="{{ page.permalink | safe }}">
      <div>
        <h4 class="font-medium text-sm pt-8">{{ page.title }}</h4>
        <p class="text-gray-400 text-sm">
          {% if page.extra.location %}
            {{ page.extra.location }}
          {% else %}
            Remote
          {% endif %}
        </p>
      </div>
    </a>
    {% endfor %}

    <p class="text-sm max-w-2xl pt-4"><i>"The contact and the habit of Tlon have disintegrated this world."</i>
    <p class="pt-4">We're looking for world enders and rebuilders.</p>
    <p>Send applications to <a class="text-blue-400" href="mailto:apply@tlon.io"><code>apply@tlon.io</code></a>.</p>
  </section>
  </section>
</header>
{% endblock content %}
