<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
        <link href="/styles.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width">
        <title>Tlon</title>
    </head>
    <body class="flex-auto pa5">
        <main class="mt3">
        <section class="w-75-l w-75-xl measure-wide mt3 mt0-xl mt0-l mt0-m">
            <p><b>Tlon</b> is building the platform for a new peer to peer internet.</p>
            <p>This platform is <a href="https://urbit.org">Urbit</a>.</p>
            <p>We make things that are technically excellent, architecturally sound, and aesthetically beautiful. </p>
            <p>Smart, motivated people should <span class="mono">apply@tlon.io</span>.</p>
        </section>
        <section class="employee-directory w-75-l w-75-xl w-100 mt8 tc flex flex-wrap flex-row">
        {% for person in config.extra.roster %}
        <section class="dib tl flex flex-column">
            {% if person.pic %}
            <img src="{{ person.pic }}" height="256" width="256"/>
            {% else %}
            <div style="background: transparent; height: 256px; width: 256px;"></div>
            {% endif %}
            <p class="pt1">{{ person.name }}</p>
            <address>{{ person.ship }}</address>
            <p>{{ person.dept }}</p>
        </section>
        {% endfor %}
        </section>
    </main>
    <footer class="mt8">
        <a href="https://urbit.org/privacy">Privacy Policy</a><a class="ml4" href="https://urbit.org/toc">Terms of Service</a>
    </footer>
    </body>
</html>
