.white h1, .white h2, .white h3, .white a {
  color: #fff;
}

.bg-black code {
  background-color: #333;
}

h1 code { font-weight: 400; }

img {
  width: 100%;
  margin-bottom: 4rem;
}

@media all and (max-width: 960px) {
  .container {
    padding: 0 4rem;
  }
}